.place__title {
  grid-area: place__title;
  max-width: 460px;
  margin-bottom: 48px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
