.photo-grid {
  max-width: 1184px;
  margin: auto;
  padding: 0 0 92px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;

  grid-auto-flow: column;


}


/*  grid-template-columns: repeat(auto-fill, minmax(0.5fr, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(0.5fr, 1fr));*/