.cover__overlay {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

/* Не получается растянуть ссылку на всю секцию. Дисплей "блок" же должен решать вопрос вроде как
Хотелось бы до конца добить именно с hover.
*/
