.lead__caption {
  width: 158px;
  text-align: center;
  margin: 8px 0 0 148px;

  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}
