.lead__sub-title {
  max-width: 640px;
  margin: 0 auto 0;
  padding: 0 0 64px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__sub-title {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__sub-title {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__sub-title {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 16px 40px 16px;
  }
}
